In [1]:
import numpy as np
import pandas as pd

In [2]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
SID=SentimentIntensityAnalyzer()

In [4]:
Data=pd.read_csv('MovieReviews.tsv','\t')

In [5]:
Data

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[2000 rows x 2 columns]

In [6]:
Data.isnull().sum()

label      0
review    35
dtype: int64

In [7]:
Data.dropna(inplace=True)

In [8]:
Data.isnull().sum()

label     0
review    0
dtype: int64

In [9]:
Blank=[]
for i,Label,Review in Data.itertuples():
    if type(Review)==str:
        if Review.isspace():
            Blank.append(i)

In [10]:
Blank

[57,
 71,
 147,
 151,
 283,
 307,
 313,
 323,
 343,
 351,
 427,
 501,
 633,
 675,
 815,
 851,
 977,
 1079,
 1299,
 1455,
 1493,
 1525,
 1531,
 1763,
 1851,
 1905,
 1993]

In [11]:
Data.drop(Blank,inplace=True)

In [12]:
Data

     label                                             review
0      neg  how do films like mouse hunt get into theatres...
1      neg  some talented actresses are blessed with a dem...
2      pos  this has been an extraordinary year for austra...
3      pos  according to hollywood movies made in last few...
4      neg  my first press screening of 1998 and already i...
...    ...                                                ...
1995   pos  i like movies with albert brooks , and i reall...
1996   pos  it might surprise some to know that joel and e...
1997   pos  the verdict : spine-chilling drama from horror...
1998   pos  i want to correct what i wrote in a former ret...
1999   pos  a couple of months ago , when i first download...

[1938 rows x 2 columns]

In [13]:
Data['Score']=Data['review'].apply(lambda Review:SID.polarity_scores(Review))

In [14]:
Data

,label,review,Score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."
...,...,...,...
1995,pos,"i like movies with albert brooks , and i reall...","{'neg': 0.073, 'neu': 0.764, 'pos': 0.163, 'co..."
1996,pos,it might surprise some to know that joel and e...,"{'neg': 0.237, 'neu': 0.689, 'pos': 0.074, 'co..."
1997,pos,the verdict : spine-chilling drama from horror...,"{'neg': 0.15, 'neu': 0.705, 'pos': 0.145, 'com..."
1998,pos,i want to correct what i wrote in a former ret...,"{'neg': 0.129, 'neu': 0.711, 'pos': 0.16, 'com..."
1999,pos,"a couple of months ago , when i first download...","{'neg': 0.071, 'neu': 0.741, 'pos': 0.188, 'co..."

In [15]:
Data['Compound']=Data['Score'].apply(lambda x:x['compound'])

In [16]:
Data

,label,review,Score,Compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264
...,...,...,...,...
1995,pos,"i like movies with albert brooks , and i reall...","{'neg': 0.073, 'neu': 0.764, 'pos': 0.163, 'co...",0.9991
1996,pos,it might surprise some to know that joel and e...,"{'neg': 0.237, 'neu': 0.689, 'pos': 0.074, 'co...",-0.9993
1997,pos,the verdict : spine-chilling drama from horror...,"{'neg': 0.15, 'neu': 0.705, 'pos': 0.145, 'com...",-0.7564
1998,pos,i want to correct what i wrote in a former ret...,"{'neg': 0.129, 'neu': 0.711, 'pos': 0.16, 'com...",0.9489
1999,pos,"a couple of months ago , when i first download...","{'neg': 0.071, 'neu': 0.741, 'pos': 0.188, 'co...",0.9981

In [17]:
Data['Comp_Score']=Data['Compound'].apply(lambda x: 'pos' if x >=0  else 'neg')

In [18]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [19]:
print(accuracy_score(Data['label'],Data['Comp_Score']))

0.6367389060887513

In [20]:
print(classification_report(Data['label'],Data['Comp_Score']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [21]:
print(confusion_matrix(Data['label'],Data['Comp_Score']))

[[427 542]
 [162 807]]